html {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0,0)),url(b1.jpg);
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


header{
	position: absolute;
	top:0;
	left:0;
	padding: 0;
	background-color: black;
	width: 100%;
	box-sizing: border-box;
	height: 80px;
  opacity: 0.5;

}


.logo{
	color: #355e3b;
	height: 20px;
	line-height: 80px;
	font-size:38px;
	float:left;
	font-weight: bold;
	margin-left: 20px;
	font-family: "Times New Roman", Times, serif;
}


.logopic img{
	width: 380px;
	height: auto;
	float: left;
	margin-left: 15px;
  margin-top: 8px;
}


header nav{
	float:right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	margin-right: 20px;
}

header nav ul li{
	list-style: none;
	position: relative;
  padding-top: 15px;
  padding-left: 4px;
  padding-right: 4px;
  border: 2px solid black;
}

header nav ul li.sub-menu:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: absolute;
	line-height: 80px;
	color: #355e3b;
	right:8px;

}



header nav ul li.active.sub-menu:before {
	content: '\f0d8';
}

header nav ul li ul {
	position: absolute;
	left:0;
	background: black;
	display: none;

}

header nav ul li.active ul{
	display: block;
}


header nav ul li a {
	color: white;
	text-decoration: none;
	height:50px;
	line-height: 34px;
	padding: 0px 25px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  height: 35px;
  margin-top: 6px;
}
header nav ul li a.active{
	color: white;
}
header nav ul li a:hover{
	color: white;
	border: 2px solid white;
	transition: all 0.2s ease-in;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}


.menu-toggle{
	color:#355e3b;
	float:right;
	line-height: 50px;
	font-size:24px;
	cursor: pointer;
	display: none;
	margin-top: 28px;
}


.wrapper {
  width: 68%;
  height: 100%;
  margin-top: 80px;
  float: left;
}

.wrapper2 {
    float:right;
    width: 31.5%;
    height: 100%;
}

.supwrapper {

}
.img-info2 {
	width:100%;
	margin-top: 80px;
  margin-right: 0;

}

.img-info {
	width:100%;

}
.img-info2 h2 {
	font-size: 60px;
	color: #fff;
	text-align: center;
  text-align: left;
  font-family: "Alegreya Sans SC";
}

.img-info h2 {
	font-size: 110px;
	color: #fff;
	text-align: center;
  font-family: "Alegreya Sans SC";
  margin-top: 110px;

}

header nav ul li ul li{
	display: block;
	width: 200px;
}


.img-info p {
	font-size: 25px;
	color: #fff;
	text-align: center ;
  margin-top: 70px;

}

.img-info2 p {
	font-size: 35px;
	color: #fff;
	text-align: center;
	margin-top: -65px;
}

.button {
	margin-top: 30px;
	text-align: center;
	padding-bottom: 0%;
}

.btn {
	padding: 15px 40px;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;

}

.btn-one {
	background-color: #355e3b;
	font-family: "Roboto", sans-serif;
	color: yellow;
	border: 1px solid yellow;
}

.btn-two {
	font-family: "Roboto", sans-serif;
	color: white;
	border: 1px solid white;
}

.btn-two:hover {
	background-color: #355e3b;
	transition: all 0.5s ease-in;
	color: yellow;
	border: 1px solid yellow;
}

.logo2{
  display: none;
}

@media (max-width: 1082px){

	body{
		min-width: 0;
	}
	.img-info {
	}

	.img-info h2 {
		font-size: 90px;
	}

	header{
		padding:0 20px;
		min-width: 0;
	}

	header nav ul li ul li{
		width: 140px;
	}

	.menu-toggle{
		display: none;
	}

	.logo2{
		color: #355e3b;
		height: 20px;
		line-height: 70px;
		font-size:43px;
		float: left;
		font-weight: bold;
		margin-left: 5%;
		display: none;
	}
	.logopic img{
    width: 380px;
    height: auto;
    float: left;
    margin-left: 0px;
    margin-top: 8px;
	}

	header nav{
		float:right;
	}

	header nav ul{
		margin: 0;
		padding: 0;
		display: flex;
		margin-right: 0px;
	}
	header nav ul li{
		list-style: none;
		position: relative;
	}

	header nav ul li.sub-menu:before{
		content: '\f0d7';
		font-family: fontAwesome;
		position: absolute;
		line-height: 80px;
		right:2px;
	}



	header nav ul li.active.sub-menu:before {
		content: '\f0d8';
	}

	header nav ul li.active ul{
		display: block;
	}

	header nav ul li ul li{
		display: block;
		width: 170px;

	}

	header nav ul li a {

		text-decoration: none;
		height:50px;
		line-height: 34px;
		padding: 0px 17px;
		display: block;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    height: 30px;
    margin-top: 6px;
	}
	header nav ul li a.active{


	}
	header nav ul li a:hover{


	}

}




@media (max-width: 952px){

	header{
		padding:0 20px;

	}


	.menu-toggle{
		display: none;
	}

	.logopic{
		display: none;

	}

	.logo2{
    display: block;
    width: px;
    height: auto;
    float: left;
    margin-left: 0px;
    margin-top: 8px;
	}
	.logopic img{
		line-height: 80px;
		margin-left: -20px;
		margin-top: 0px;


	}

	header nav{
		float:right;
	}

	header nav ul{
		margin: 0;
		padding: 0;
		display: flex;
		margin-right: 0px;
	}

	header nav ul li{
		list-style: none;
		position: relative;
	}

	header nav ul li.sub-menu:before{
		content: '\f0d7';
		font-family: fontAwesome;
		position: absolute;
		right:0px;
	}

	header nav ul li.active.sub-menu:before {
		content: '\f0d8';
	}

	header nav ul li.active ul{
		display: block;
	}

	header nav ul li ul li{
		display: block;
		width: 200px;
	}

	header nav ul li a {

		text-decoration: none;
		height:50px;
		line-height: 34px;
		padding: 0px 25px;
		display: block;
    border: 2px solid black;
    height: 30px;
    margin-top: 6px;
	}

	header nav ul li a.active{

	}

	header nav ul li a:hover{

	}

	header nav ul li a:hover{
	}

	.img-info {
    width: 100%;
	}

	.img-info h2 {
		font-size: 70px;
	}

	.img-info p {
	}

	.button {
		margin-top: 40px;
	}

	.btn {
		padding: 15px 40px;
		margin-right: 5px;
		font-size: 13px;
	}
}




@media (max-width: 766px){

	body{
		min-width: 0;
	}

	header{
		padding:0 20px;
		top: 0;
	}

	.menu-toggle{
		display: block;
	}

	header nav{
		position: absolute;
		width:100vw;
		height: calc(116vh - 50px);
		top:80px;
		left:-105%;
		transition: 0.5s;
	}

	header nav.active{
		left:0px;
	}

	.wrapper {
		width: 100%;
	}

  .img-info {

  }

	.img-info h2 {
		font-size: 50px;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.7);
	}

	header nav ul li a.active{
		background-color: #DCDCDC;
		color: #355e3b;
	}

	header nav ul li.sub-menu:before{
		color: yellow;
		right: 20px;
	}

	header nav ul li.active ul{
		position: relative;

	}

	header nav ul li ul li{
		width:100vw;
    		text-align: center;
		background-color: #DCDCDC;
	}
}

@media (max-width: 444px){

	.img-info {
		width:100%;
	}

	.body {

	}

	.img-info h2 {
		font-size: 50px;

	}

	.img-info p {
		font-size: 18px;
		color: #fff;
		text-align: center;
	}

	.button {
		margin-top: 40px;
	}

	.btn {
		padding: 12px 30px;
		margin-right: 5px;
		font-size: 13px;
	}
}

@media (max-width: 370px){
	.img-info h2 {
		font-size: 40px;

	}
}

@media (max-height: 425px){

	.img-info {

	}

	.img-info h2 {

	}

	.img-info2 p {
	}

	.img-info2 {
		display: none;
	}


	.button {
		margin-top: 40px;
	}

	.btn {
		padding: 12px 30px;
		margin-right: 5px;
	}

}

@media (max-height: 1366px){
	.wrapper {
		width: 100%;
	}

	.img-info h2 {
		margin-top: 30%;
		font-size: 120px;
	}

}

@media (max-height: 1030px){
	.wrapper {
		width: 100%;
	}

	.img-info h2 {
		margin-top: 25%;
		font-size: 85px;

	}

}

@@font-face {
  font-family:"Alegreya Sans SC";
  src: url(asc.ttf);
  src: url("alegreya-sans-sc.medium-webfont.woff") format(woff);
  src: url("alegreya-sans-sc.medium-webfont.woff2") format(woff2);
  src: url("alegreya-sans-sc.medium-demo.html") format(html);

}
